%h1 Listing All Articles
- if admin_signed_in?
  %a.btn.btn-primary.col-lg-12{:href => new_article_path, :role => "button"} New article »
%div.row
  - @articles.each do |a|
    %div.col-lg-4
      %h2= a.title
      %p= a.description

      %p
        %a.btn.btn-primary{:href => article_path(a), :role => "button"} Show
        - if admin_signed_in?
          %a.btn.btn-warning{:href => edit_article_path(a), :role => "button"} Edit
          = link_to "Destroy", a, :method=>:delete, :class => "btn btn-danger", data: { confirm: 'Are you sure?' }
        //%a.btn.btn-danger{:href => article_path(a), :role => "button", :method => :delete, data: { confirm: 'Are you sure?' }} Destroy
          

